@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

body {

}

.bg__div {
  background-image: url("https://media.discordapp.net/attachments/956467423173832705/961596050160889896/bgforest.gif?width=276&height=676");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.navigation {
  max-width: 1300px;
  margin: auto;
}

ul {
  font-family: 'Outfit', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
}

.home__container {
  max-width: 1300px;
  margin: auto;
}

.home__desc {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
}

.home__contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.burger__menu {
  backdrop-filter: blur(5px);
}

.row__div {
  white-space: nowrap;
  box-sizing: content-box;
  margin: 2rem 0;
  display: flex;
  animation: move 20s linear infinite reverse;
}

.row__div__2 {
  white-space: nowrap;
  box-sizing: content-box;
  margin: 2rem 0;
  display: flex;
  animation: move 20s linear infinite none;
}

.image__container {
  width: 15rem;
  margin: 0 1rem;
  background-color: lightblue;

  border-radius: 20px;
  cursor: pointer;
}

.image__container img {
  width: 100%;
  height: auto;
}

.details__container {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  background-color: #1B1B1B;
  border: 2px solid white;
  font-family: "Outfit", sans-serif;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.details__container span {
    font-size: 17px;
    color: white;
    font-weight: 600;
    line-height: 1.5rem;
}

.details__container h1 {
  font-size: 24px;
  color: white;
  font-weight: 600;
}

.price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.price img {
  width: 1rem;
  height: auto;
}

.main { 
  overflow: hidden;
}

.showcase__section {
  background-color: #1B1B1B;
}

.showcase__section >*:first-child  {
  animation-duration: 20s;
}

.showcase__section >*:last-child  {
  animation-duration: 15s;
}

.faq__section {
  background-color: #12183E;
}

/* Teams */

.team__section {
  background-color: #1B1B1B;
}

.item__container {
  padding: 1.6rem 0;
  color: black;
  margin: 2rem 1rem;
  position: relative;
  width: 100%;
  max-width: 350px;
  background-color: #1b1b1b4b;
  border-radius: 7px;
  z-index: 5;
  backdrop-filter: blur(4px);
  border: 2px solid #fff;
}

.team__containers {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.item__container .image__container:hover {
  transform: scale(1.1);
}

.item__container .image__container {
  width: 85%;
  margin: 0 auto;
  background-color: #EEEDDE;
  border-radius: 7px;
  cursor: pointer;
  border: 2px solid #fff;
  transition: all 0.3s ease;

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.445);
}

.item__container .image__container img {
  width: 100%;
  height: auto;
}

.member__name {
  display: flex;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #fff;
  margin-top: 1rem;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
}

.member__position {
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  color: rgb(136, 136, 136);
  font-weight: 300;
  font-family: "Outfit", sans-serif;
}

.team__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    margin: auto;
    width: fit-content;
    font-family: "Outfit", sans-serif;
}

.team__container {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* Teams */

/* Faq */

.faq__section .accordion-header {
  background-color: #12183E;
  color: white !important;
  border-bottom: 1px solid #fff;
}

.faq__section .accordion-button {
  color: white !important;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.accordion-item:last-of-type {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.accordion-item:last-of-type .accordion-collapse {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.accordion-item:first-of-type {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.accordion__header {
  display: none !important;
}

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: transparent;
  box-shadow: inset 0 -1px 0 #fff;
}

.accordion-body {
  color: #fff;
  background-color: #12183E;
}

.faq__title {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  color: #fff;
}

.faq__question {
  font-family: "Outfit", sans-serif;
}

/* Faq */

/* Banner Footer */

.banner__title {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
}

.banner__btn {
  background-color: #232323;
  border-radius: 50px;
  color: #fff;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.footer__section {
  background-color: #12183E;
}

/* Banner Footer */

/* Media Queries */

@media screen and (min-width: 765px) {
  .bg__div {
    background-image: url("../src/assets/bg-desktop.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 200%;
  }
}

/* Media Queries */
@keyframes move {
  0%{transform: translateX(100%)}
  100%{transform: translateX(-100%)}
}